.header-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    justify-content: space-between;
    
    /* background-color: red; */
}

.left-header-section ul,
.right-header-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.left-header-section li,
.right-header-section li {
    margin-right: 20px;
}

.right-header-section li:last-child {
    margin-right: 100px;
}

.left-header-section li:first-child {
    margin-left: 100px;
}